@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Site</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello, @User.Identity.Name!</p>
    }
    else
    {
        <p>Log in, pleease. <a asp-controller="Account" asp-action="Login">Login</a></p>
    }
</div>
