@model ASP.Net_MVC.Models.UserCabinetViewModel

<h2>Cabinet</h2>

<table class="table">
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Full name</th>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>@Model.Role</td>
    </tr>
</table>

<a asp-action="EditProfile" class="btn btn-primary">Edit Profile</a>
<a asp-action="ChangePassword" class="btn btn-warning">Change password</a>
<a asp-action="Logout" class="btn btn-danger">Logout</a>